<div class="appName"><span ng-click="goHome();">FaceSteg</span> > <span>SignUp</span></div>
<div class="outer">
<image class="clickLogo" ng-click="clickImage()" src="resources/click.png"></image>
<table class="loginTable">
<tr>
<td valign="top">
<div class="webcam">
				<webcam id="webcam" channel="channel" 
							on-streaming="onSuccess()" 
							on-error="onError(err)" 
							on-stream="onStream(stream)">
				</webcam>
				</br>	
</div>
</td>
<td valign="top">
	<div class="clicked">
		<canvas id="tempImage" width="320" height="240"></canvas>
	</div>
</td>
<td valign="top">
	<input class="btn" ng-click="takeSnapshot()" type="button" value="Select this image"></input>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<input class="btn" ng-click="clearAll()" type="button" value="Reset All image"></input>
</td>
</tr>
</table>
<br/>
<br/>
</div>
<div>
	<canvas id="snapshot1" width="320" height="240"></canvas>
	<canvas id="snapshot2" width="320" height="240"></canvas>
	<canvas id="snapshot3" width="320" height="240"></canvas>
	<canvas id="snapshot4" width="320" height="240"></canvas>
</div>
<div class="login">
<input type="button" style="margin-left: 500px;" ng-click="signup()" value="SignUp">
</div>
